* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#search,
#button {
    height: 40px;
    text-align: center;
    border-radius: 7px;
}

#search {
    width: 30%;
}

#button{
    background-color: aqua;
    color: black;
    width: 5%;
}

.main {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
}
.images{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}
img{
    height: 500px;
    width: 350px;
}
#load{
    background-color: aqua;
    color: black;
    width: 10%;
    height: 10%;
}